aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.text-align-center {
	text-align: center;
}

.paragraph {
	text-align: start;
	padding: 60px 50px;
	line-height: 25px;
}
