legend {
	display: block;
	width: auto;
	margin: 0 9px;
	padding: 0 4px;
	font-size: inherit;
	line-height: inherit;
	color: gray;
}

fieldset {
	border: 1px solid lightgray;
	padding: 5px;
	margin-bottom: 30px;
	border-radius: 7px;
	height: 61px;
}

fieldset input {
	border: none;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

fieldset input:focus {
	outline: none;
}
