main {
	height: 100%;
}

.flex {
	display: flex;
	height: 100%;
}

.flex-75-percent {
	flex: 75%;
}

.flex-25-percent {
	flex: 25%;
	background: dodgerblue;
	color: white;
}

#root {
	height: 100vh;
}

.gray {
	color: gray;
}

.margin-bottom-30px {
	margin-bottom: 30px !important;
}

.margin-top-20px {
	margin-top: 20px;
}

.margin-top-60px {
	margin-top: 62px;
}
